.App {
  text-align: center;
  font-family: 'Geist Mono', monospace;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Geist Mono', monospace;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}
