* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Geist Mono', monospace;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: none;
}

body.light-mode {
  background-color: #F2F2F2;
  color: #121212;
}

#root {
  min-height: 100vh;
}
